*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* from app vue style */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);

  }
  

  
  #nav {
    padding: 30px;
    color: beige;
  }
  
  #nav a {
    font-weight: bold;
    font-size: x-large;
    color: #B6B6B6
  }
  
  #nav a.router-link-exact-active {
    color: #A5856C;
  }
  img[alt='logo']{
    width: 5rem;
    aspect-ratio: 1/1;
  }

  @media screen and (width=300px){
  #aboutpic{
    /* z-index: 0; */
    /* height: 10rem;  */
    padding-right: 5rem; 
    padding-left: 0rem;
    justify-content: center;
    margin-bottom: 2rem; 
    /* padding-left: 300px; */
    
  }
  #overlappa{
     text-align:center ;
     justify-content: center;
  }
  #abttitle{
    font-size:2rem ;
  }
  #para{
    padding-left: 1rem;
  }
  }
  @media screen and (width=720px){
    #resume{
     display: flex;
    }
  }
  @media screen and (width =1000px){
    #resume{
     display: flex;
    }
  }